<div class="top-bar header">
  <img class="brand" src="assets/hestia.png" alt="Hestia ERP" style="height: 50px;">
  <!--Buttons-->
  <div class="top-bar-buttons">
    <button mat-button (click)="scroll(features)" class="top-bar-button">Features</button>
    <button mat-button class="top-bar-button" (click)="scroll(pricing)">Pricing</button>
    <a mat-raised-button href="https://y3coyql3pj5.typeform.com/to/Ep2BlFgY" color="primary" style="color: white;">I'm
      Interested!</a>
  </div>
</div>


<h1 class="title">Managing your grocery store just got <span class="primary"><u>easier</u></span></h1>
<p class="description">Streamline your grocery business with our affordable and intuitive ERP solution!</p>
<div class="cta">
  <div>
    <a mat-raised-button href="https://y3coyql3pj5.typeform.com/to/Ep2BlFgY" class="cta" color="primary"
      style="color: white;">I'm Interested!</a>
  </div>
  <button mat-raised-button class="cta" (click)="scroll(features)">Features</button>
</div>


<h4 class="small-title">Our Partners</h4>

<!--Testimonials-->
<div class="testimonial-container">
  <div class="testimonial-wrapper" id="testimonialWrapper">
    <!-- Add your client logos and testimonials here -->
    <div class="testimonial">
      <img src="assets/eia.jpg" alt="EIA">
    </div>
    <div class="testimonial">
      <img src="assets/fep.png" alt="FEP">
    </div>
    <div class="testimonial">
      <img src="assets/porto.png" alt="Porto">
    </div>
    <div class="testimonial">
      <img src="assets/santander.png" alt="Santander Universidades">
    </div>

    <!-- Add more testimonials as needed -->
  </div>
</div>
<mat-divider></mat-divider>

<div #features style="background-color: #d4af37; padding-bottom: 1rem; padding-top: 1rem;">
  <h1 class="title" style="color: white;">Features</h1>
  <div class="two-cards">
    <mat-card class="card">

      <mat-tab-group mat-stretch-tabs="true">
        <mat-tab label="Effortless access, intuitive interface">
          <div class="feature">
            <p>
              We understand the frustrations users often face with complex navigation in integrated systems.
              That's why we've made accessibility our top priority.
              Our software is designed to ensure a seamless and user-friendly experience, mitigating the challenges
              associated with ERP usage.
            </p>
            <img mat-card-image src="assets/ui.png" alt="UI Image" style="width: 70vw;">
          </div>

        </mat-tab>
        <mat-tab label="Point of Sale (POS) integration">
          <div class="feature">
            <p>
              Seamless integration between point of sale (POS) software and ERP system enables real-time data sharing
              and coordination, streamlining sales transactions and centralizing business processes.
            </p>
            <img mat-card-image src="assets/pos.png" alt="POS Image" style="width: 70vw;">
          </div>
        </mat-tab>
        <mat-tab label="Contactless Orders/Purchasing">
          <div class="feature">
            <p>
              Our AI-powered ERP system automates supplier communication, effortlessly reaching out to each supplier via
              email to confirm transactions, saving you time and effort.
            </p>
            <img mat-card-image src="assets/supplier.png" alt="Contactless Image" style="width: 70vw;">
          </div>

        </mat-tab>
        <mat-tab label="IoT + AI integration">
          <div class="feature">
            <p>
              Revolutionize your ERP experience: AI and machine learning for advanced analytics, IoT integration for
              real-time data, and enhanced mobile support for seamless on-the-go access.
            </p>
            <img mat-card-image src="assets/BBD.png" alt="BBD Image" style="width: 70vw;">
          </div>

        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </div>
</div>


<div #pricing>
  <h1 class="title">Pricing</h1>
  <div class="two-cards">
    <mat-card class="pricing-card">
      <div class="text-frame">
        <div class="text-block">
          <h2><s>19,90€/m</s></h2>
          <h1>16,60€/m</h1>
          <p class="twelve-month-commit-text">with a 12 month commitment</p>
          <h3>Included Modules:</h3>
          <p>Inventory Management</p>
          <p>Point of Sale (POS)</p>
          <p>Accounting</p>
          <p>Customer Relationship Management (CRM)</p>
          <p>Human Resources (HR)</p>
        </div>
        <mat-divider vertical="true"></mat-divider>
        <div class="text-block">
          <h1>19,90€/m</h1>
          <p class="twelve-month-commit-text">with no monthly commitment</p>
          <h3>Included Modules:</h3>
          <p>Inventory Management</p>
          <p>Point of Sale (POS)</p>
          <p>Accounting</p>
          <p>Customer Relationship Management (CRM)</p>
          <p>Human Resources (HR)</p>
        </div>
      </div>


      <mat-card-actions class="center-button">
        <a mat-raised-button href="https://y3coyql3pj5.typeform.com/to/Ep2BlFgY" color="primary"
          style="color: white;">I'm Interested!</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



<mat-divider style="margin-top: 1rem;"></mat-divider>


<div class="top-bar">
  <img class="brand" src="assets/hestia.png" alt="Hestia ERP" style="height: 50px;">
  <!--Buttons-->
  <div class="top-bar-buttons">
    <p>Built for EIA 2023 Edition</p>
    <a mat-raised-button href="https://y3coyql3pj5.typeform.com/to/Ep2BlFgY">I'm Interested!</a>
  </div>
</div>