@use '@angular/material' as mat;

.top-bar {
  display: flex;
  align-items: center;
}

.brand {
  display: flex;
  font-weight: 500;
  padding-left: 60px;
  align-items: center;
  gap: 15px;
}

.top-bar-buttons {
  display: flex;
  height: 59px;
  padding: 0px 60px;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  flex: 1 0 0;
}

.top-bar-button {
  font-size: 1em;
}


.title {
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
  font-size: 5rem;
  font-weight: 400;
}

.description {
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 1.2em;

}

.primary {
  color: #d4af37;
}

.cta {
  text-align: center;
  font-size: 1em;
}

.cta div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
}


.testimonial-container {
  overflow: hidden;
  /* Hide content that goes beyond the container */
}

.testimonial-wrapper {
  display: flex;
  animation: scroll 20s linear infinite;
}

.testimonial {
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.testimonial img {
  max-width: 100px;
  height: auto;
  margin-right: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(calc(-100% + 20px));
    /* Adjust the value based on the testimonial container's width and margin */
  }
}



.small-title {
  font-size: 1.5em;
  font-weight: 400;
  padding: 1rem;
  text-align: center;
}


.two-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 97px;
}

.card {
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: flex-start;
  //background: #d4af37;
  //color: white;
}

.card-bottom-p {
  padding-top: 30px;
}

.card-title {
  font-size: 1em;
  font-weight: 600;
}

.pricing-card {
  width: 450px;

}

.text-frame {
  display: flex;
  align-items: flex-start;
  align-self: stretch;

}

.text-block {
  display: flex;
  padding: 16px;
  flex-direction: column;
  flex: 1 0 0;
  text-align: center;
}

.text-block h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.twelve-month-commit-text {
  font-size: 0.8em;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.center-button {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

// Mobile responsive codes
// max-width: 1024px
@media (max-width: 1024px) {
  .title {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 4rem;
  }
}

// max-width: 768px
@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    padding: 0px 20px;
  }

  .brand {
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .top-bar-buttons {
    padding: 0px 20px;
    justify-content: space-between;
  }

  .header .top-bar-buttons {
    display: none;
  }

  .title {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 3rem;
  }

  .description {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1em;
  }
}

// max-width: 425px
@media (max-width: 425px) {
  .title {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 2rem;
  }
  
  .text-frame {
    flex-direction: column;
  }

  .top-bar-buttons {
    flex-direction: column;
    padding: 0px 8px;
    margin-bottom: 32px;
  }
}