@use '@angular/material' as mat;
$my-palette: mat.define-palette(mat.$indigo-palette);

.title {
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
  font-size: 6em;
  font-weight: 400;
}

.description {
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 1.2em;

}

.primary {
  color: #d4af37;
}

.cta {
  text-align: center;

  font-size: 1em;
}

.cta div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
