.top-bar {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  padding-left: 0px;
  align-items: center;
  gap: 10px;
}

.top-bar-buttons {
  display: flex;
  height: 59px;
  padding: 0px 15px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.top-bar-button {
  display: flex;
  height: 59px;
  padding: 0px 15px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}
