.top-bar {
  display: flex;
  align-items: center;
}

.brand {
  display: flex;
  font-weight: 500;
  padding-left: 60px;
  align-items: center;
  gap: 15px;
}

.top-bar-buttons {
  display: flex;
  height: 59px;
  padding: 0px 60px;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  flex: 1 0 0;
}

.top-bar-button {
  font-size: 1em;
}
